In [20]:
from sklearn.linear_model import LinearRegression, Ridge
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [21]:
df = pd.read_csv("AAPL.csv")
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,253.000000,253.000000,253.000000,253.000000,253.000000,2.530000e+02
mean,133.540040,134.900455,132.151897,133.574348,133.259364,9.263210e+07
std,10.992726,10.941530,11.051847,11.042358,11.201795,2.965914e+07
min,109.110001,110.680000,107.320000,108.769997,108.074875,4.639770e+07
25%,124.580002,126.160004,123.129997,125.059998,124.783043,7.228260e+07
50%,132.360001,133.889999,131.070007,132.050003,131.608932,8.722280e+07
75%,143.750000,144.899994,142.660004,144.500000,144.283829,1.077601e+08
max,156.979996,157.259995,154.389999,156.690002,156.690002,1.925415e+08

In [22]:
df = df.dropna()
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,253.000000,253.000000,253.000000,253.000000,253.000000,2.530000e+02
mean,133.540040,134.900455,132.151897,133.574348,133.259364,9.263210e+07
std,10.992726,10.941530,11.051847,11.042358,11.201795,2.965914e+07
min,109.110001,110.680000,107.320000,108.769997,108.074875,4.639770e+07
25%,124.580002,126.160004,123.129997,125.059998,124.783043,7.228260e+07
50%,132.360001,133.889999,131.070007,132.050003,131.608932,8.722280e+07
75%,143.750000,144.899994,142.660004,144.500000,144.283829,1.077601e+08
max,156.979996,157.259995,154.389999,156.690002,156.690002,1.925415e+08

In [23]:
df["Midrange"] = df["Low"] + (df["High"] - df["Low"]) / 2

In [24]:
from sklearn.model_selection import train_test_split

X = df[["Open", "High", "Low", "Close", "Adj Close", "Midrange"]]
y = df["Volume"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [25]:
r = Ridge()
r = r.fit(X_train, y_train)

In [26]:
y_pred = r.predict(X_test)

In [27]:
from sklearn.metrics import mean_absolute_error, r2_score
err = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [28]:
print(f"Eroare este de: {err}")
print(f"R2 coef: {r2}")

Eroare este de: 13175133.242369002
R2 coef: 0.5981605523669198